<div class="card col-sm-12 col-md-4" id="<%= dom_id post_target %>">
  <div class="card-body">
    <h5 class="card-title"><%= post_target.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= post_target.api %></h6>
    <p class="card-text">
    <ul>
      <li><code><%= post_target.query%></code></li>
      <li><code><%= post_target.headers%></code></li>
      <li><code><%= post_target.field_mapping%></code></li>
      <li><code><%= post_target.success_code%></code></li>
    </ul>
    </p>
    <a href="<%= edit_post_target_path(post_target)%>" class="card-link">edit</a>
  </div>
</div>