<div id="<%= dom_id crawler_record %>">
  <p>
    <strong>Url count:</strong>
    <%= crawler_record.url_count %>
  </p>

  <p>
    <strong>Success:</strong>
    <%= crawler_record.success %>
  </p>

  <p>
    <strong>Failed:</strong>
    <%= crawler_record.failed %>
  </p>

  <strong>Urls:</strong>
  <pre>
    <%= crawler_record.urls.gsub(",", ",\n") %>
  </pre>

  <strong>Log:</strong>
  <pre>
    <%= crawler_record.log.gsub(",", ",\n") %>
  </pre>

  <p>
    <strong>Crawler setting:</strong>
    <%= link_to crawler_record.crawler_setting.name, crawler_record.crawler_setting %>
  </p>

</div>
