<div id="<%= dom_id crawler_record %>">
  <p>
    <strong>Url count:</strong>
    <%= crawler_record.url_count %>
  </p>

  <p>
    <strong>Success:</strong>
    <%= crawler_record.success %>
  </p>

  <p>
    <strong>Failed:</strong>
    <%= crawler_record.failed %>
  </p>

  <p>
    <strong>Urls:</strong>
    <%= crawler_record.urls %>
  </p>

  <p>
    <strong>Crawler setting:</strong>
    <%= crawler_record.crawler_setting_id %>
  </p>

</div>
