<table class="table mb-2">
  <thead>
    <th>ID</th>
    <th>Crawler</th>
    <th>Total</th>
    <th>Success</th>
    <th>Failed</th>
    <th>Created At</th>
  </thead>
  <tbody>
    <% @crawler_records.each do |r| %>
      <tr>
        <td><%= link_to r.id, crawler_record_path(r) %></td>
        <td><%= link_to r.crawler_setting.name, crawler_setting_path(r.crawler_setting), style: "text-decoration:none" %></td>
        <td><%= r.url_count || 0%></td>
        <td><%= r.success || 0%></td>
        <td><%= r.failed || 0%></td>
        <td><%= time_ago_in_words(r.created_at) %> ago </td>
      </tr> 
    <% end %>
    
  </tbody>
</table>
<div class="mb-2 d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>    