<div class="row">
    <div class="col-12 col-md-6">
    <h5 class="text-center">Crawlers</h5>
        <table class="table">
            <% @crawlers.each do |c|%>
                <tr>
                    <td><%= link_to c.name, c%></td>
                    <td><%= link_to "Scrape", scrape_crawler_setting_path(c), class: 'btn btn-success btn-sm' %></td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="col-md-6 col-lg-4">
    <h5 class="text-center">Crawler Records</h5>
        <table class="table">
            <% @crawler_records.each do |r|%>
                <tr>
                    <td><%= link_to r.crawler_setting.name, r.crawler_setting %></td>
                    <td>✅ <%= r.success %></td>
                    <td>❌ <%= r.failed %></td>
                    <td title="<%= r.created_at.to_fs(:short)%>">⏱️ <%= time_ago_in_words(r.created_at)%> ago</td>
                    <td><%= link_to 'View', r, class: 'btn btn-secondary btn-sm' %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
    <h5 class="text-center">Posts</h5>
        <table class="table">
            <% @posts.each do |post|%>
                <tr>
                    <td><%= link_to post.title.truncate(100), post%></td>
                    <td><%= link_to post.crawler_setting.category.name, post.crawler_setting.category%></td>
                    <td>⏱️ <%= time_ago_in_words post.updated_at %> ago </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>