<div class="mb-2 d-flex gap-4">
  <h3> <%= post.title %> </h3>
  <% if openai_key_valid?(@openai_key) %>
    <%= turbo_frame_tag :post_title_area do %>
        <%= form_with model: post, url:rewrite_title_post_path(post), method: 'post' do |f| %>
          <%= f.submit('💡 Rewrite', class: 'btn btn-success btn-sm')%>
        <% end %>
    <% end %>
  <% end #if %>
</div>
<div class="mb-2 d-flex gap-4">
  <p> <%= link_to post.crawler_setting.name, post.crawler_setting, class: 'text text-secondary',style:"text-decoration: none;"%> </p>
  <p> <%= link_to 'Source', post.from, style: "text-decoration:none" %></p> 
</div>

<% if current_user %>
  <div class="d-flex gap-2">
    <%= render partial: 'favorites_button', locals: { post: post, user: current_user }%>
    <%= render partial: 'send_to_form', locals: { api_call_record: @api_call_record }%>
  </div>
<% end %>

<div class="w-100 my-2">
  <img src="<%= post.image_url%>" alt="" class="img-fluid">
</div>

<article style="font-size: 1.1em">
  <%== post.content %>
</article>

