<div class="d-flex my-4 gap-4">
  <h3>Categories</h3>
  <%= link_to "New", new_category_path, class: 'btn btn-primary' %>
</div>

<div id="categories">
<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Created At</th>
    <th>Operation</th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.id, category %></td>
        <td><%= category.name %></td>
        <td><%= category.weight %></td>
        <td><%= time_ago_in_words category.created_at %> ago </td>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-primary'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

