<div id="<%= dom_id crawler_setting %>">
  <p>
    <strong>Name:</strong>
    <%= crawler_setting.name %>
  </p>

  <p>
    <strong>Index page url:</strong>
    <%= crawler_setting.index_page_url %>
  </p>

  <p>
    <strong>Index page css:</strong>
    <%= crawler_setting.index_page_css %>
  </p>

  <p>
    <strong>Detail page title css:</strong>
    <%= crawler_setting.detail_page_title_css %>
  </p>

  <p>
    <strong>Detail page content css:</strong>
    <%= crawler_setting.detail_page_content_css %>
  </p>

  <p>
    <strong>Detail Page Clean Up CSS</strong>
    <%= crawler_setting.detail_page_clean_up_css %>
  </p>

</div>
