<p style="color: green"><%= notice %></p>

<%= render @crawler_setting %>

<div class="row">
  <div class="col">
    <%= link_to "Scrape", scrape_crawler_setting_path(@crawler_setting), class: 'btn btn-success' %> 
  </div>
  <div class="col">
    <%= link_to "Edit this crawler setting", edit_crawler_setting_path(@crawler_setting) %> |
  </div>
  <div class="col">
    <%= link_to "Back to crawler settings", crawler_settings_path %>
  </div>
  <div class="col">
    <%= button_to "Destroy this crawler setting", @crawler_setting, method: :delete %>
  </div>
</div>
