<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <title><%= @title || 'Up To Date '%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body >
    <%= render('shared/flash')%>
    <%= render('shared/nav')%>
    <main class="container" style="min-height:86vh">
      <%= yield %>
    </main>
    <%= render('shared/footer')%>
  </body>
</html>
